maelstrom-*.tar.gz
Maelstrom.spec
*Makefile.in
Makefile
maclib/Makefile
netlogic/Makefile
screenlib/Makefile
configure
config.log
config.status
aclocal.m4
autom4te.cache
compile
config.guess
config.sub
depcomp
install-sh
missing
*.deps
*.o
*.a